@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset or base styles if needed */
body {
  font-family: 'Inter', sans-serif;
  @apply bg-purple-100 text-gray-700;
}
